<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.citics.valuation.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CBank24"
        tools:targetApi="31">

        <activity
            android:name="com.citics.valuation.ui.activity.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.citics.valuation.ui.activity.main.MainActivity"
            android:theme="@style/FullScreen" />

        <activity
            android:name="com.citics.valuation.ui.activity.phuongthucnhancpoint.PhuongThucNhanCpointActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.citics.valuation.ui.activity.login.LoginActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.citics.valuation.ui.activity.hopthoai.HopThoaiActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.citics.valuation.ui.activity.hoso.HoSoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.citics.valuation.ui.activity.taikhoan.TaiKhoanActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.citics.valuation.ui.activity.thongke.ThongKeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.citics.valuation.ui.activity.tracuu.TraCuuActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.citics.valuation.ui.activity.webview.WebViewActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.citics.valuation.ui.activity.tracuu.ChiTietNhaDatActivity" />
        <activity android:name="com.citics.valuation.ui.activity.choice.SingleChoiceActivity" />
        <activity android:name="com.citics.valuation.ui.activity.choice.MultiChoiceActivity" />
        <activity
            android:name="com.citics.valuation.ui.activity.choice.SingleChoiceAndAddingDataActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.citics.cagent.ui.activity.choice.SingleChoiceTHSDDActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.citics.valuation.ui.activity.tracuu.ChiTietDienTichThuaDatActivity" />
        <activity android:name="com.citics.valuation.ui.activity.chitietcongtrinh.ChiTietCongTrinhActivity" />
        <activity android:name="com.citics.valuation.ui.activity.chitietcongtrinh.ThemPhongActivity" />
        <activity android:name="com.citics.valuation.ui.activity.tracuu.ChiTietDuAnActivity" />
        <activity android:name="com.citics.valuation.ui.activity.tracuu.TimKiemCanHoActivity" />
        <activity android:name="com.citics.valuation.ui.activity.tracuu.ChiTietCanHoActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>